body {
    font-family: sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding-bottom: 30px;
    background-color: #f7f7f7;
}

.content {
    margin: auto;
    max-width: 60%;
    display: flex;
    flex-direction: column;
}

#project-cards {
    display: flex;
    flex-direction: column;
}

.preview-img-wrapper {
    width: 50%;
    max-height: 300px;
}

.preview-text-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
}

a {
    color: rgb(60, 169, 241);
    text-decoration: none;
}

a:hover {
    color: rgb(21, 112, 248);
}

h1, h2, h3, h4 {
    color: orange;
}

.project-card {
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.project-card:hover h3 {
    color:rgb(60, 169, 241);
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.full-project-image {
    margin: 20px auto;
}

.back-to-top {
    margin: auto;
    padding: 20px;
    text-align: center;
}

.caption {
    margin: auto;
    font-style: italic;
    padding-top: 10px;
    color: grey;
    max-width: 60%;
    text-align: center;
}

.multi-image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.multi-image img {
    margin: 10px;
    max-width: 100%;
}

.table-row-2 {
    display: flex;
    width: 100%;
}

.table-row-2 * {
    width: 50%;
    padding: 0 15px;
}

.extra-wide {
    width: 90%;
    margin: auto;
}

.table-wrapper {
    display: flex;
}

.table-column {
    display: flex;
    flex-direction: column;
}


/* Slideshow styling below */
/* Slideshow code adapted from https://www.w3schools.com/howto/howto_js_slideshow.asp */

.slideshow-outmost * {
    box-sizing: border-box;
    margin: auto;
}

/* Slideshow container */
.slideshow-wrapper {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides, .mySlides1 {
  display: none;
}

.mySlides img {
    height: 600px;
    min-width: 300px;
    object-fit: contain;
}

.mySlides1 img {
    height: 750px;
    min-width: 300px;
    object-fit: contain;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
  background-color:rgba(200,200,200,0.5);
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot, .dot1 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover, .dot1:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}